<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
     <link rel="stylesheet" href="/styles/style.css" type="text/css" ></link>
    </head>
    <body id=mybody>
        
        <div class=container>
            <div class=col-md-12 id=myheader>
                <span class="text-center" ><h1>File Metadata Microservice</h1></span>
            </div>
            
            <div >
                <span id=story><h3>Submit a File to view file size</h3></span>
            </div>
            
            <div>
                <form action="/filedata" method="post" enctype="multipart/form-data">
                    
                    <div id=upload>
                            <input class="btn btn-lg btn-info" name=file type=file>
                    </div>
                             <div id=submit>
                                    <input class="btn btn-sm btn-primary" type=submit>
                                </div> 
                             
                            </form>
                
            </div>
        </div>
    </body>
</html>